<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/expenses-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Viewing Expenses</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Expenses are shown in order of date ascending</li>
        <li>
          Tap an expense to view its full details (image with timestamp, title,
          amount, date, type, notes)
        </li>
        <li>The total expense amount is shown at the top of the page</li>
        <li>Current filters applied are also shown at the top of the page</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Applying Filters</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          On the 'View Expenses' Page, tap 'FILTER' on the top right of the
          toolbar
        </li>
        <li>
          Set dates for the reqired filter (from and to inclusive) and the
          expense type
        </li>
        <li>Tap 'Apply Filters'</li>
        <li>
          Current filters applied are shown at the top of the 'View Expenses'
          page.
        </li>
        <li>
          The total expense amount, taking in to account the applied filters, is
          now shown at the top of the page
        </li>
        <li>To clear filters, tap 'CLEAR' at the top of the page</li>
        <li>Before applying a new filter, current filters must be cleared</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Editing/Deleting an Expense</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Tap on the expense to be edited/deleted</li>
        <li>To delete, tap the trash icon (top riht of the toolbar)</li>
        <li>To edit, tap Edit, modify details, and tap 'Submit'</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Adding a New Expense</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Tap on the 'Add Expense' tab at the bottom of the screen</li>
        <li>Tap 'Add Expense'</li>
        <li>
          Fill in the details for the expense (and take a photo of the receipt),
          then tap 'Submit'
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
